.frame-wrapper {
    background-color: #ffffff;
    border-color: #00000033;
    border-top-style: solid;
    border-top-width: 1px;
    height: 79px;
    width: 428px;
  }
  
  .frame-wrapper .div {
    align-items: flex-start;
    display: inline-flex;
    gap: 60px;
    left: 55px;
    position: relative;
    top: 20px;
  }
  
  .frame-wrapper .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .frame-wrapper .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .frame-wrapper .home {
    color: #000000;
    font-family: "General Sans-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .frame-wrapper .text-wrapper {
    color: #00000099;
    font-family: "General Sans-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .frame-wrapper .frame-33 {
    flex: 0 0 auto !important;
  }
  
  .frame-wrapper .frame-instance {
    font-family: "Poppins-Regular", Helvetica !important;
    font-weight: 400 !important;
  }
  